.DS_Store
.terraform/*
.terraform
terraform.out
*.pyc
*.profraw
*tfstate*
*.tmp
workstation.env
.idea
.idea/*
.kitchen
inspec.lock

# Project specific ignores
modules/notifications/function-source.zip
modules/notifications/js/config.json
test/out
#test/integration/security_benchmarks
test/post-deploy-scan-attrs.yml
